* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Supermercado One', cursive;
}
  /* xSmall */
@media (max-width: 768px) {
    .container , .container1 , .container2 , .container3 , footer {
    width: 414px;
    }
}
  /* Small */
@media (min-width: 768px) {
    .container , .container1 , .container2 , .container3 , footer{
    width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container ,.container1 , .container2 , .container3 ,footer {
    width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container ,.container1 , .container2 , .container3 , footer {
    width: 1170px;
    }
}
  /* Start header */
.container ,.container1 , .container2 , .container3 , footer{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; 
} 
body {
    background-color: #FFFFFF;
} 
.container{
    background-color: #E6E9EE;
}
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.container nav .string {
    padding-left: 70px;
}
.container nav .icon2{
    padding-left: 100px;
}
.container nav .string{
    line-height: 0.90;
    text-align: center;
    font-size: 16px;
}
.container1{
    background-image: url(assets/Home-page/basic\ photo.png);
    background-size: cover;
    height:580px;
    position: relative;
}
.container1 .text{
    position: absolute;
    font-size: 25px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #333333;
    font-family: 'Tenor Sans', sans-serif;
    font-style: oblique;
}
.container1 .button{
    position: absolute;
    left: 50%;
    top: 92%;
    border-radius: 40px;
    transform: translate(-50%, -50%);
}
button{
    border-radius: 35px;
    font-size: 25px;
    background-color: #000000;                                 
    opacity: 0.4;
    color: aliceblue;
    width: max-content;
    padding:10px;
}
.container2 p{
    text-align: center;
    margin: 0;
    padding-top: 5px;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 25px;
}
.p1::after{
    content: '';
    position:absolute;
    
}
ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    font-family: 'Tenor Sans', sans-serif;
    color: #888888;
}
ul .active {
    color: #000000;
}
.active ::after {
    content:'';
}
h1{
    font-size: 10px;
}
.container3{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(170px, 1fr) );
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 10px;
    padding-left: 30px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Tenor Sans', sans-serif;
}
.container3 h1{
    text-align: center;
    font-size: 12px;
    color: #333333;
}
.container3 p{
    text-align: center;
    color: #DD8560;
    font-size: 15px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-footer{
    background-color:white;
    color: #000000;
    opacity: 1;
    border: 0px;
}