@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Tenor+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  padding: 10px;
  width: 100%;
  overflow: auto;
}
.menu {
  height: 28px;
  width: 27.39px;
  display: inline-block;
  margin-left: 3%;
}
.logo {
  height: 27.33px;
  width: 89.12px;
  display: inline-block;
  margin: 0 22%;
}
.serch {
  height: 28px;
  width: 27.39px;
  display: inline-block;
  margin-right: 1%;
}
.bag {
  height: 28px;
  width: 27.39px;
  display: inline-block;
  padding-right: 1%;
}
@media (min-width: 450px) {
  .logo {
    margin: 0 42%;
  }
  .menu {
    margin-left: 1%;
  }
  .bag {
    padding-right: 1%;
  }
}
/* main */
.product img {
  height: 457.33px;
  width: 343px;
  align-items: center;
  padding: 4%;
}
.product {
  margin: 6%;
}
.contenar {
  margin: 5%;
  align-items: center;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.description div h4 {
  display: inline;
}
.description div img {
  position: absolute;
  right: 5%;
}
.description h4 {
  font-family: "Tenor Sans", sans-serif;
}
.description p {
  font-size: 1rem;
  line-height: 1.1rem;
  color: #555555;
  margin: 0.6rem 0px;
}
#price {
  font-size: 1.1rem;
  font-family: "Tenor Sans", sans-serif;
  color: #dd8560;
}
.properties {
  display: flex;
  flex-direction: row;
}
.color,
.size {
  display: flex;
  flex-direction: row;
  width: 50%;
  font-family: "Tenor Sans", sans-serif;
  font-size: 1em;
  color: #555555;
}
.circle {
  border-radius: 50%;
  height: 22.2px;
  width: 22.2px;
}
.black {
  background-color: black;
  margin-left: 10%;
  margin-right: 2%;
}
.orange {
  background-color: #dd8560;
  margin: 0 2%;
}
.white {
  background-color: #e1e0db;
  margin: 0 2%;
}
.selected {
  background: #333333;
  color: white;
  margin-left: 10%;
  margin-right: 2%;
  height: 1.2rem;
  width: 1.2rem;
  font-size: 0.7rem;
  text-align: center;
}
.unselected {
  margin: 0 2%;
  height: 1.2rem;
  width: 1.2rem;
  border: 1px solid #a8a8a8;
  text-align: center;
  font-size: 0.7rem;
}

@media (min-width: 450px) {
  .product img {
    padding-left: 25%;
    width: 75%;
    height: 50%;
    align-items: center;
  }
  .product {
    margin: 0;
  }
}
footer {
  display: flex;
  flex-direction: row;
  background-color: black;
  height: 4rem;
  color: white;
  margin-top: 20%;
}
.footer p {
  font-family: "Tenor Sans", sans-serif;
  line-height: 1.5rem;
  text-transform: uppercase;
  font-size: 1rem;
}
.plus,
.heart {
  height: 23.2px;
  width: 22.8px;
}
.plus {
  margin: 0 3%;
}
.heart {
  margin-left: 45%;
}
@media (min-width: 450px) {
  .heart {
    margin-left: 80%;
  }
}
